<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
  <appSettings>
    <add key="TransferSwitch" value="true"/>
    <add key="TransferURL" value="http://172.16.16.87:8080/yka-wincc/barcode/receiveOutBarcode"/>
    
    
    <!--
    <add key="Transfer" value="false"/>
    <add key="Transfer" value="true"/>
    <add key="TransferURL" value="http://172.16.16.87:8080/yka-wincc/barcode/receiveOutBarcode"/>
    -->
   </appSettings>
</configuration>
